@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

:root {
    --blue : #1da1f2;
    --blue-opaque: #1da0f23b;
    --dark:#212121;
    --dark01:#393939;
    --white : #efefef;
}


* {
    box-sizing: border-box;
    user-select: none;
    padding: 0;
    margin: 0;
}


body{

    line-height: 1.3rem;
    font-size: 1rem;
    font-family: 'Lato';
}

button {
    border-radius: 50%;
    border: none;
    outline: none;
    overflow: hidden;
    cursor: pointer;
}
img {
    max-width: 100%;
    height: auto;
}

.rotate {
    animation: rotate 8s infinite linear;
    transform-origin: center;
}
@keyframes rotate {
    from { transform: rotate(0deg);}
    to{transform: rotate(359deg);}
}
.wraper {
    max-width: 476px;
    height: 98vh;
    margin: 5px auto;
    border-radius: 7px;
    overflow: hidden;
    background-color: var(--dark);
    color: var(--white);
    header {
        background-color: var(--blue-opaque);
        padding: 0.6rem 1rem;
        height: 10vh;
        .hdbtn{
            width: 52px;
            height: 52px;
            font-size: 22px;
            background-color: var(--dark01);
            color: var(--white,#efefef);
            border: none;
            &.active{
                background-color: var(--blue);
            }
        }
    }
    header, .controls, .song-timer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        color: var(--white);
    }

    form { 
        background-color: var(--dark01);
        input {
            padding: 1rem;
            background-color: transparent;
            width: 100%;
            border: none;
            color: var(--white);
            outline: none;
            position: relative;
            &::before {
                content: '<i class="ri-close-circle-fill"></i>';
                color: var(--blue);
                position: absolute;
                top: 50%;
            }
        }
    }

    .player{
        .img-area {
            position: relative;
            text-align: center;
            height: 63vh;
            padding-top: 20%;
            background-color: var(--dark01);
            background-image: url(../assets/images/back.jpg);
            background-size: cover;
            img {
                width: 18rem;
                height: 18rem;
                object-fit: cover;
                border-radius: 50%;
                border: 5px solid var(--dark);
                // padding: 1rem;
                pointer-events: none;
            }
            &::before {
                content: '';
                background-image: url(../assets/images/discn.png);
                z-index: 2;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 80px;
                height: 80px;
                margin: auto;
                border: 2px solid var(--dark);
                border-radius: 50%;
                background-size: cover;
                object-fit: cover;
            }
        }
        .song-details {
            display: flex;
            align-items: center;
            padding: 0 2rem;
            .name {
                color: var(--blue);
                font-size: 1rem;
                text-transform: capitalize;
            }
            .artist {
                font-size: 14px;
                text-transform: capitalize;
                padding: 10px 0 5px 0;
                margin-left: 7px;
            }
        }

    
        
    }

    .musics-list {
        width: 100%;
        height: 61vh;
        overflow: auto;
        &::-webkit-scrollbar{
            width: 7px;
        }
                &::-webkit-scrollbar-thumb {
                    width: 5px;
                    background-color: var(--dark01);
                }
        .music {
            display: flex;
            align-items: flex-start;
            // background-color: var(--dark01);
            border-bottom: 1px solid var(--dark01);
            margin-bottom: -1px;
            padding: 0.5rem 1rem;
            .image{
                width: 45px;
                height: 45px;
                overflow: hidden;
                border-radius: 50%;
                img{
                    object-fit: cover;
                    height: 100%;
                    width: 100%;
                }
            }
            .content {
                margin-left: 10px;
                h4{ color: var(--blue); margin-bottom: 4px;}
            }
            .icon i{ 
                color: var(--white);
                align-self: flex-end;
                align-items: flex-end;
                width: 50px;
            }
            &.playing{
                border-left: 4px solid var(--blue);
                background-color: var(--blue-opaque);
            }
        }
    }
    
    .controls {
        margin: auto;
        width: 85%;
        .btnC {
            width: 53px;
            height: 52px;
            border-radius: 50%;
            margin: 0 7px;
            background-color: var(--dark01);
            color: var(--white);
            &.play-pause {
                border: var(--blue) 5px solid;
            }
            &:active i{
                color: var(--blue);
            }
            &:active  {
                background-color: var(--blue-opaque);
            }
        }
        i {
            font-size: 22px;
        }
    }

    .audioC {
        padding: 0 2rem;
        margin-bottom: 1rem;
        .song-timer{
            margin-bottom: 10px;
            span{
                font-size: 10px;
                font-weight: 800;
            }
        }
        .progress-area {
            height: 7px;
            width: 100%;
            margin-top: 5px;
            border-radius: 50px;
            background-color: var(--dark01);
            position: relative;
            cursor: pointer;
            .progress-bar{
                height: inherit;
                width: 0%;
                position: relative;
                border-radius: inherit;
                background-color: var(--blue);
                &::before{
                    content: '';
                    position: absolute;
                    background-color:var(--blue-opaque);
                    border-radius: 50%;
                    top: 50%;
                    right: -14px;
                    z-index: 2;
                    width: 25px;
                    height: 25px;
                    outline: none;
                    border: none;
                    pointer-events: none;
                    transform: translateY(-50%);
                    transition: all 0.2s ease;
                }
                &::after{
                    content: '';
                    position: absolute;
                    background-color: var(--blue);
                    border-radius: 50%;
                    border: none;
                    pointer-events: none;
                    transform: translateY(-50%);
                    transition: all 0.2s ease;
                    top: 50%;
                    right: -8px;
                    width: 14px;
                    height: 14px;
                    outline: none;
                    z-index: 2;
                }
            }
        }
    }
}